@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: local("Bebas Neue Cyrillic"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596f5;
}

.navbar {
  max-width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-contacts {
  text-align: right;
}
.contacts-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}

.main
{
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  display: flex;
}
.main-info{
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 66px 0px;
}
.home-image path{
  opacity: 0;
}

.home-image path:hover{
  opacity: 1;
  cursor: pointer;
}

path.current-floor{
  opacity: 1;
}

.counter-group{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-button{
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.counter-arrow-down{
  transform: rotateX(180deg);
}

.main-title{
  font-family: 'Bebas Neue Cyrillic', 'sans-serif';
  font-weight: normal;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
  margin: 0;
}

.counter{
  color: #635854;
  font-family: 'Bebas Neue Cyrillic', 'sans-serif';
  font-size: 124px;
}

.button-primary{
  background: #3596F5;
  border-radius: 6px;
  color: #fff;
  border: none;
  padding:16px 36px;
  cursor: pointer;
}

.modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}

.modal-dialog{
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #fff;
  flex-grow: 1;
  display: flex;
}

.is-open{
  opacity: 1;
  transform: scale(1);
}

.modal-image{
  background: #ebebeb;
  width: 60%;
  text-align: center;
  padding: 50px;
}

.modal-title{
font-family: Bebas Neue;

font-size: 24px;
line-height: 24px;
}

.modal-info{
  width: 40%;
  padding: 50px 46px;
}

.flat-list{
  padding: 0;
  list-style: none;
  margin-top: 55px;
  
}
.flat-item{
  margin-bottom: 15px;
}

.flat-link{
  color: #635854;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  transition: 0.3s;
}

.flat-link:hover
{
  color: #3596F5;
  text-decoration: underline;
}

.modal-alert{
  font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 19px;
margin-top: 56px;
}

.modal-close-button{
  position: absolute;
  right: 27px;
  top: 38px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}